 


main {
     border: black solid 1px;
     text-align: center;
     padding: 10px;
     
}

h2 {
     font-size: 25px;
     font-weight: bold;

}

.descricao{
     font-size: 15px;
     font-weight: bold;
}


.preco{
     font-size: 15px;
     font-weight: bold;
}

 
